[DEFAULT]
#default_store = swift
default_store = file
filesystem_store_datadir = /usr/local/etc/images/
bind_host = 0.0.0.0
bind_port = 9292
log_file = /var/log/glance/api.log
backlog = 4096
registry_host = 0.0.0.0
registry_port = 9191
registry_client_protocol = http
rabbit_host = localhost
rabbit_port = 5672
rabbit_use_ssl = false
rabbit_userid = guest
rabbit_password = guest
rabbit_virtual_host = /
rabbit_notification_exchange = glance
rabbit_notification_topic = notifications
rabbit_durable_queues = False
delayed_delete = False
scrub_time = 43200
scrubber_datadir = /var/lib/glance/scrubber
image_cache_dir = /usr/local/etc/image-cache/
[database]
backend = sqlalchemy
connection = mysql://glance:openstack@{{ CONTROLLER_HOST }}/glance
[keystone_authtoken]
auth_uri = https://{{ KEYSTONE_ADMIN_ENDPOINT }}:35357/v2.0/
identity_uri = https://{{ KEYSTONE_ADMIN_ENDPOINT }}:5000
admin_tenant_name = {{ SERVICE_TENANT }}
admin_user = {{ GLANCE_SERVICE_USER }}
admin_password = {{ GLANCE_SERVICE_PASS }}
#signing_dir = $state_path/keystone-signing
insecure = True

[glance_store]
filesystem_store_datadir = /usr/local/etc/images/
#stores = glance.store.filesystem.Store,
#         glance.store.http.Store,
#         glance.store.swift.Store,
#swift_store_auth_version = 2
#swift_store_auth_address = https://192.172.70.100:5000/v2.0/
#swift_store_user = service:glance
#swift_store_key = glance
#swift_store_container = glance
#swift_store_create_container_on_put = True
#swift_store_large_object_size = 5120
#swift_store_large_object_chunk_size = 200
#swift_enable_snet = False
#swift_store_auth_insecure = True

use_syslog = True
syslog_log_facility = LOG_LOCAL0
[paste_deploy]
config_file = /etc/glance/glance-api-paste.ini
flavor = keystone

