[DEFAULT]
rpc_backend = rabbit
rabbit_host={{ RABBITMQ_HOST }}
rabbit_port=5672
rabbit_userid=guest
rabbit_password=guest
rabbit_virtual_host=/
rabbit_ha_queues=false
log_dir=/var/log/heat

[database]
backend = sqlalchemy
connection = mysql://heat:openstack@{{ MYSQL_HOST }}/heat

[keystone_authtoken]
auth_uri = https://{{ KEYSTONE_ADMIN_ENDPOINT }}:35357/v2.0/
identity_uri = https://{{ KEYSTONE_ADMIN_ENDPOINT }}:5000
admin_tenant_name = {{ SERVICE_TENANT }}
admin_user = {{ HEAT_SERVICE_USER }}
admin_password = {{ HEAT_SERVICE_PASS }}
insecure = True

heat_watch_server_url = http://{{ CONTROLLER_IP }}:8003
heat_waitcondition_server_url = http://{{ CONTROLLER_IP }}:8000/v1/waitcondition
heat_metadata_server_url = http://{{ CONTROLLER_IP }}:8000

[clients]
endpoint_type = internalURL

[clients_ceilometer]
endpoint_type = internalURL

[clients_cinder]
endpoint_type = internalURL

[clients_heat]
endpoint_type = internalURL

[clients_keystone]
endpoint_type = internalURL

[clients_neutron]
endpoint_type = internalURL

[clients_nova]
endpoint_type = internalURL

[clients_swift]
endpoint_type = internalURL

[clients_trove]
endpoint_type = internalURL

[ec2authtoken]
auth_uri = https://{{ CONTROLLER_IP }}:5000/v2.0

[heat_api]
bind_port = 8004

[heat_api_cfn]
bind_port = 8000

[heat_api_cloudwatch]
bind_port = 8003


