#!/bin/bash
export OS_TENANT_NAME=cookbook
export OS_USERNAME=admin
export OS_PASSWORD=openstack
export OS_AUTH_URL=https://{{ KEYSTONE_ADMIN_ENDPOINT }}:35357/v2.0
export OS_NO_CACHE=1
export OS_CACERT=/usr/local/etc/keystone/ssl/certs/ca.pem
export OS_KEY=/usr/local/etc/keystone/ssl/certs/cakey.pem

TENANT_ID=$(keystone tenant-list | awk '/\ cookbook\ / {print $2}')
echo ${TENANT_ID}

ADMIN_TENANT_ID=$(keystone tenant-list | awk '/\ admin\ / {print $2}')
echo ${ADMIN_TENANT_ID}

Tenant_Net="cookbook_network_1"
Tenant_Subnet="cookbook_subnet_1"
Tenant_Router="cookbook_router_1"

existing_router=$(neutron router-list | grep $Tenant_Router | awk {'print $2'})
existing_subnet=$(neutron subnet-list | grep $Tenant_Subnet | awk {'print $2'})

# Delete existing Tenant Net
neutron router-interface-delete $existing_router $existing_subnet
neutron subnet-delete $Tenant_Subnet
neutron net-delete $Tenant_Net
neutron router-delete $Tenant_Router

# Delete existing FloatingIP
neutron subnet-delete ext-subnet
neutron net-delete ext-net
neutron port-list
neutron router-list
neutron net-list
neutron subnet-list

# Working
#neutron net-create ext-net --router:external True --provider:physical_network external --provider:network_type flat
#neutron subnet-create ext-net --name ext-subnet --allocation-pool start=192.172.70.80,end=192.172.70.89 --disable-dhcp --gateway 192.172.70.1 192.172.70.0/24

#neutron net-create ext-net --tenant-id ${ADMIN_TENANT_ID} --router:externalTrue
#neutron subnet-create --tenant-id ${ADMIN_TENANT_ID} --name ext-subnet --allocation-pool start=192.172.70.80,end=192.172.70.89 --enable_dhcp=False ext-net 192.172.70.0/24
#neutron subnet-create ext-net --name ext-subnet --allocation-pool start=203.0.113.101,end=203.0.113.200 --disable-dhcp --gateway 203.0.113.1 203.0.113.0/24
#neutron router-gateway-set ${Tenant_Router} ext-net

# Create Tenant Network
neutron net-create --tenant-id ${TENANT_ID} ${Tenant_Net}
neutron subnet-create --tenant-id ${TENANT_ID} --name ${Tenant_Subnet} ${Tenant_Net} --gateway 10.220.0.1 10.220.0.0/24
neutron router-create --tenant-id ${TENANT_ID} ${Tenant_Router}
neutron router-interface-add ${Tenant_Router} ${Tenant_Subnet}

# Create Floating IP
neutron net-create --tenant-id ${ADMIN_TENANT_ID} --router:external=True floatingNet
neutron subnet-create --tenant-id ${ADMIN_TENANT_ID} --name floatingSubnet --allocation-pool start=192.172.70.150,end=192.172.70.159 --enable_dhcp=False floatingNet 192.172.70.0/24
neutron router-gateway-set ${Tenant_Router} floatingNet


# Working
#neutron router-gateway-set ${Tenant_Router} ext-net

neutron ext-list
neutron net-list
neutron subnet-list
neutron port-list





